numpy<=2.2.6
pillow==8.4.0; python_version == '3.6'
pillow<=12.1.0; python_version >= '3.8'
pandas<=2.2.3
starfile!=0.5.0
mrcfile
emfile
emtable
scikit-image<=0.26.0
morphsnakes
joblib
pytest
trimesh
matplotlib==3.7.3; python_version == '3.8'
matplotlib<=3.10.8; python_version >= '3.9'
